# Puerto en el que correrá el servidor
PORT=3000

# URI de conexión a la base de datos MongoDB
DB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<dbname>

# Clave secreta para la generación de JWT
JWT_SECRET=your_jwt_secret

# Tiempo de expiración del JWT
JWT_EXPIRES_IN=1d
